@import "tailwindcss";

@layer utilities {
	/* Chrome, Safari aur Opera ke liye scrollbar chupayein */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* IE, Edge aur Firefox ke liye scrollbar chupayein */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
